/*Header and Background*/
body {
    background-color: #F5F5F5;
}
h1 {
    color: #0F1626;
    font-family: 'Space Mono', monospace;
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
p {
    color: #0F1626;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

/*Navigation*/
.navigation ul {
    background-color: #0F1626;
    filter: drop-shadow(10px 10px 20px #333);
    list-style-type: none;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    text-align: center;
}
.navigation ul li { 
    display: inline; 
    position: relative;
}
.navigation ul li a {
    background-color: #0F1626;
    color: #FF533D;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: .2em 1em;
    position: relative;
    text-decoration: none;
}
.navigation ul li a:hover {
    color: #F5F5F5;
    background-color: #FF533D;
    border-radius: 5px;
}
.navigation ul li a.active {
    color: #F5F5F5;
    background-color: #0F1626;
    border-radius: 5px;
}

/*Page Header*/
h2 {
    color: 0F1626;
    font-family: 'Space Mono', monospace;
    font-size: 36px;
    text-align: center;
}

/*About*/
.about {
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    width: 600px; 
}
.about p {
    font-family: 'Work Sans', sans-serif;
    text-indent: 40px;   
    text-align: left;
}

/*Projects*/
.projects {
    background-size: cover;
    border-radius: 5px;  
    height: 95%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 30px;
    position: relative;
    width: 600px;
}
#project {
    border: 2px solid #0F1626;
    border-radius: 5px;
    filter: drop-shadow(10px 10px 20px #333);
    height: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}
.projects p {
    background: #0F1626;
    background: linear-gradient(bottom, rgba(15, 22, 38, 1), rgba(15, 22 , 38, .4));
    background: -webkit-linear-gradient(bottom, rgba(15, 22, 38, 1), rgba(15, 22 , 38, .4));
    background: -moz-linear-gradient(bottom, rgba(15, 22, 38, 1), rgba(15, 22 , 38, .4));
    bottom: 0;
    border-radius: 5px;
    color: #F5F5F5;
    column-span: 1;
    height: 30px;
    line-height: 28px;
    padding: 10px;
    position: absolute;
    text-align: center;
    margin: 0;
    transition: height .3s;
    -webkit-transition: height .3s;
    -moz-transition: height .3s;
}
.projects small {
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    opacity: 0;
}
.projects .show-description p {
    height: 180px;
    border-radius: 5px;
}
.projects .show-description small {
    opacity: 1;
    border-radius: 5px;
}
.firstproject {
    background-image: url("images/rowinggame.png");
}
.secondproject {
    background-image: url("images/gpagui.PNG");
}

.fourthproject {
    background-image: url("images/website.PNG")
}
.fifthproject {
    background-image: url("images/rowinggame2.png");
}

/*Smaller Screen Size Changes*/
@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
    p.title {
        font-size: 14px;
    }
    
    .navigation ul li {
        margin-top: 5px;
        display: block;
        padding-top: 5px;
    }
    .navigation ul {
        padding-top: 0px;
    }
    .projects {
        width: 90%;
    }
   
}
