/*Header and Background*/
body {
    background-color: #F5F5F5;
}
h1 {
    color: #0F1626;
    font-family: 'Space Mono', monospace;
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
p {
    color: #0F1626;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

/*Navigation*/
.navigation ul {
    background-color: #0F1626;
    list-style-type: none;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    text-align: center;
}
.navigation ul li { 
    display: inline; 
    position: relative;
}
.navigation ul li a {
    background-color: #0F1626;
    color: #FF533D;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: .2em 1em;
    position: relative;
    text-decoration: none;
}
.navigation ul li a:hover {
    color: #F5F5F5;
    background-color: #FF533D;
}
.navigation ul li a:active {
    color: #F5F5F5;
    background-color: #FF533D;
}

/*Page Header*/
h2 {
    color: 0F1626;
    font-family: 'Space Mono', monospace;
    font-size: 36px;
    text-align: center;
}

/*About*/
.about {
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    width: 600px; 
}
.about p {
    font-family: 'Work Sans', sans-serif;
    text-indent: 40px;   
    text-align: left;
}

/*Projects*/
.projects div {
    background-size: cover;
    border-radius: 5px;   
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    width: 600px;    
}
.projects p {
    background: #0F1626;
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    color: #F5F5F5;
    padding: 10px;
    line-height: 28px;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 30px;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    border-radius: 5px;
}
.projects small {
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    opacity: 0;
    
    
}
.projects .show-description p {
    height: 180px;
    border-radius: 5px;
}
.projects .show-description small {
    opacity: 1;
    border-radius: 5px;
}
.secondproject {
    background-image: url("images/rowinggame.png");
    border: 2px solid #0F1626;
}
