/*Highlight Color*/
::selection {
    background: #FF533D;
    color: #F5F5F5;
}
::-moz-selection {
    background: #FF533D;
    color: #F5F5F5;
}

/*Links*/
.link:link, .github-link:link {
    color: #F5F5F5;
    transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -webkit-transition: .15s ease-in-out;
}
.link:visited, .github-link:visited {
    color: #F5F5F5
}
.github-link:hover {
    background: #6e5494;
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
}

/*Main Body*/
body {
    background-color: #F5F5F5;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}

/*Main Container Div*/
.main-container {
    display: block;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    padding-bottom: 75px;
}

/*Header*/
header {
    border: 1px solid #CCC;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
}
header .title {
    display: block;
    max-width: 225px;
    padding-right: 20px;
    padding-top: 9px;
    margin: 0 auto;
}
header h1 {
    color: #0F1626;
    font-family: 'Space Mono', monospace;
    margin-bottom: 1px;
    margin-top: 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
}


/*Footer*/
footer {
    background-color: #0F1626;
    bottom: 0;
    box-shadow: -3px -3px 30px rgba(0, 0, 0, .5);
    color: #F5F5F5;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 75px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    text-align: center; 
    transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}
footer:hover {
    box-shadow: -3px -3px 35px rgba(0, 0, 0, .65);
}
footer .footer-top-level {
    display: inline-flex;
    left: 0;
    margin-left: 10%;
    position: absolute;
    text-align: right;
    
}
footer .footer-top-level p {
    text-align: left;
    padding-left: 5px;
}
footer .footer-right-links {
    display: inline-flex;
    margin-right: 10%;
    position: absolute;
    right: 0;
    text-align: left;
}
footer .footer-right-links p {
    padding-right: 5px;
    padding-left: 5px;
}
footer .footer-right-links a {
    padding-right: 5px;
}
footer .footer-bottom-level {
    display: inline-flex;
    left: 0;
    margin-left: 10%;
    padding-top: 30px;
    position: absolute;
    text-align: left;
}
footer .footer-bottom-level p {
    padding-right: 5px;
    padding-left: 5px;
}
footer .footer-bottom-level a {
    padding-right: 5px;
}

/*Navigation*/
nav {
    display: inline-block;
    padding-top: 20px;
    padding-right: 0px;
    max-width: 600px;
}
nav .navigation-list {
    background-color: #0F1626;
    border-radius: 5px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
    float: left;
    list-style-type: none;
    position: relative;
    padding: 15px;
    margin: 0 auto;
    transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}
nav .social-media {
    float: right;
    list-style-type: none;
    padding: 15px;
    margin: 0 auto;
    margin-top: 2px;
    transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}
nav ul li { 
    display: inline-block; 
}
nav .navigation-list a {
    background-color: #0F1626;
    border-radius: 5px;
    color: #F5F5F5;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 2px;
    margin-right: 2px;  
    padding: 8px;
    position: relative;
    text-decoration: none;
    transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -webkit-transition: .15s ease-in-out;
}
nav .individual-media a {
    background-color: #0F1626;
    border-radius: 100%;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
    color: #F5F5F5;
    margin-right: 8px;
    margin-left: 8px;
    padding: 15px;
    transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -webkit-transition: .15s ease-in-out;
}
nav .navigation-list a:hover {
    color: #F5F5F5;
    background-color: #FF533D;
    border-radius: 5px;
}
nav #email a:hover {
    background-color: #6fa6ff;
    border-radius: 100%;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}
nav #linkedin a:hover {
    background-color: #007bb5;
    border-radius: 100%;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}
nav #github a:hover {
    background-color: #6e5494;
    border-radius: 100%;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
}
nav .navigation-list a.active {
    color: #FF533D;
    background-color: #0F1626;
    border-radius: 5px;
}

/*Page Header and Container*/
.container {
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
}
.container .content-title {
    color: #0F1626;
    display: block;
    font-family: 'Space Mono', monospace;
    font-size: 32px;
    margin: 0 auto;
    max-width: 225px;
}
.container .content-title h2 {
    font-size: 28px;
    margin-bottom: -15px;
}

/*Red Bars*/
.title-redbar {
    background-color: #FF533D;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    height: 5px;
    opacity: 0;
    width: 55px;
}
.content-redbar {
    background-color: #FF533D;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    height: 5px;
    margin: 0 auto;
    margin-bottom: 25px;
    opacity: 1;
    width: 55px;
}

/*About*/
.content-about {
    display: inline-block;
    padding-top: 15px;
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
}
.content-about p {
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 10px;
    text-indent: 30px;   
    text-align: left;
}
.content-about .about-paragraph-image {
    padding-top: 0px;
    margin: 0 auto;
    text-align: center;
}
.content-about .about-paragraph-image .about-img {
    box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
    border-radius: 5px;
    display: block;
    height: 300px;
    margin: 0 auto;
    object-fit: cover;
    width: 250px;
    transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}
.content-about .about-paragraph-image .about-img:hover {
    box-shadow: 3px 3px 30px rgba(0, 0, 0, .65);
}
.content-about .about-paragraph-image p {
    display: block;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

/*Projects*/
.content-projects {
    background-size: cover;
    border-radius: 5px;  
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 30px;
    position: relative;
    width: 75%;
}
.content-projects p {
    background: #0F1626;
    background: linear-gradient(bottom, rgba(15, 22, 38, 1), rgba(15, 22 , 38, .4));
    background: -webkit-linear-gradient(bottom, rgba(15, 22, 38, 1), rgba(15, 22 , 38, .4));
    background: -moz-linear-gradient(bottom, rgba(15, 22, 38, 1), rgba(15, 22 , 38, .4));
    bottom: 0;
    border-radius: 5px;
    color: #F5F5F5;
    column-span: 1;
    height: 30px;
    font-size: 24px;
    line-height: 28px;
    padding: 10px;
    position: absolute;
    text-align: center;
    margin: 0;
    transition: height .3s ease-in-out;
    -moz-transition: height .3s ease-in-out;
    -webkit-transition: height .3s ease-in-out;
}
.content-projects small {
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    opacity: 0;
}
.content-projects .individual-project {
    border: 2px solid #0F1626;
    border-radius: 5px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
    height: 300px;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: .3s ease-in-out;
}
.content-projects .individual-project:hover {
    box-shadow: 3px 3px 35px rgba(0, 0, 0, .65);
    transform: scale(1.02, 1.02);
    -moz-transform: scale(1.02, 1.02); 
    -webkit-transform: scale(1.02, 1.02); 
}
.content-projects .show-description p {
    height: 280px;
    border-radius: 5px;
}
.content-projects .show-description small {
    opacity: 1;
    border-radius: 5px;
}
.content-projects .project-img {
    height: auto;
    min-height: 300px;
    min-width: 100%;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

/*Unimplemented Page (Currently not used)*/
.content-unimplemented {
    padding-top: 200px;
}
.content-unimplemented .error-title {
    color: #0F1626;
    font-family: 'Space Mono', monospace;
    font-size: 32px;
}
.content-unimplemented .error-message {
    color: #0F1626;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
.content-unimplemented .go-back {
    background-color: #0F1626;
    border: medium none;
    border-radius: 5px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, .5);
    color: #F5F5F5;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    padding: 8px;
    text-align: center;
    transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}
.content-unimplemented .go-back:hover {
    background-color: #FF533D;
    transform: scale(1.02, 1.02);
    -moz-transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
}

/*Landscape Design*/
@media screen and (orientation: landscape) {
    
    /*Change to Header*/
    header .title {
        display: inline-block;
        max-width: 225px;
        padding-right: 20px;
        vertical-align: top;
    }
    header h1 {
        font-size: 32px;
    }
    header .subtitle {
        font-size: 16px;
    }
    nav {
        padding-top: 15px;
    }
    
    /*Changes to Content*/
    .container {
        max-width: 900px;
    }
    .container .content-title {
        display: inline-block;
        margin-right: 18px;
        padding-left: 17px;
        padding-top: 0px;
        text-align: right;
        vertical-align: top;
        width: 200px;
    }
    .container .content-title h2 {
        margin-top: 37px;
        margin-bottom: 2px;
    }
    
    /*Changes to red bars*/
    .title-redbar {
        opacity: 1;
        float: right;
        padding-top: 0px;
        margin-top: 0px;
    }
    .content-redbar {
        opacity: 0;
    }
    
    /*Changing About Page*/
    .content-about {
        max-width: 540px;
        margin-left: 5px;
        padding-top: 15px;
        text-align: left;
    }
    .content-about p {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .content-about .about-paragraph-image {
        display: inline-flex;
        max-width: 540px;
    }
    .content-about .about-paragraph-image .about-img {
        display: inline-block;
    }
    .content-about .about-paragraph-image p {
        display: block;
        font-size: 18px;
        padding-top: 0px;
        padding-left: 20px;
        width: 330px;
    }
    
    /*Changing Projects Page*/
     .content-projects {
        max-width: 540px;
    }
    .content-projects p {
        font-size: 20px;
    }
    
    /*Changing Contact Page*/
    .content-contact {
        margin-left: 5px;
        max-width: 540px;
    }
    .content-contact p {
        font-size: 18px;
        margin-bottom: 0px;
        padding-top: 15px;
    }
    .content-contact #first-bar {
        opacity: 0;
    }
    .content-contact .content-redbar {
        opacity: 1;
    }
    .content-contact #contact-form {
        margin-left: 0px;
        padding-left: 0px;
    }
    .content-contact #contact-form input[type="text"], .content-contact #contact-form input[type="email"], .content-contact #contact-form textarea {
        margin-left: 0px;
        width: 520px;
    }
    .content-contact #contact-form #contact-submit {
        width: 545px;
    } 
    .content-contact .email1 {
        font-size: 18px;
    }
    .content-contact .email2 {
        font-size: 18px;
    }
    .content-contact .socialmedia-circle a {
        font-size: 30px;
        height: 30px;
        width: 30px;
    } 
    .content-contact .individual-media p {
        padding-top: 0px;
    }
}

